.itemHolder {
   position: relative;
   width: 100%;
   padding: 0 20px;
   height: 40px;
   display: flex;
   background-color: rgba(255, 255, 255, 0);
   border: none;
   align-items: center;
   justify-content: start;
   gap: 10px;

   &:hover {
      background-color: rgb(62, 78, 88);
   }
   
   & .title {
      font: 15px vazirl;
      width: 80%;
      color: var(--title-color);
   }
}